
.navbar-nav {
    font-size: 20px;
}

.fa {
    padding: 10px 10px 10px 10px;
}

.carousel-item {
    height: 650px;
    width: 900px;
}

.cards {
    display: flex;
    padding-top: 100px;

}

.card {
    border: 1px solid black !important;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 100px 10px  rgb(7, 7, 58);;
    
}

.card:hover {
    background-color: yellow;
}

.carousel-shadow {
    border-radius: 5px;
    box-shadow: inset 0px 0px 100px 10px #010101;
}

.about {
    display: flex;
    padding-top: 100px;
}

.btn:hover{
    background-color: rgb(7, 7, 58);
}

.text {
    text-align: center;
    align-items: center;
}

.font {
    font-size: 50px;
} 

.align-item-center {  
    justify-content: center;
    align-items: center;
}  

.year {
    margin-right: 50px;
}

.img {
    height: 90px;
    width: 150px;
    border-radius:100% ;
}

 .menu-section {
    margin-top: 100px;
} 

.menu{
    margin-bottom: 40px;
}

.team-members {
    margin-top: 100px;
} 
.pixel{
    margin-top: 50px;
}

 .testimonial-section {
    margin-top: 100px;
} 

.footer-section {
    margin-top: 100px;
    background-color: rgb(8, 8, 60);
    color: white;
}

.footer{
   margin: 50px;
   padding: 50px;
}

.images {
    border-radius: 100% !important;
    height: 250px;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;

}


.text-warning {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.form-section{
    margin-top: 100px;
    padding: 100px;
    background-color: rgb(8, 8, 60);
    color: white;
}
  
.video{
    width: 100%;
    align-items: center;
}
.Text{
    width: 100%;
}

.chicken{
    margin: 10px;
}